{% extends "PDV/index.html" %}
{% block content %}
	<head>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
	</head>
	<body>

			<div class="homepage-container container header">
        		<h1>Discussion {{ disc.subject }}</h1>

    		</div>

    <p>This discussion was created by {{ disc.createdBy.user.username }}.</p>

	<div id="kok">
	<table style="width:100%">
	  <tr>
    	<th>Sender</th>
		<th>Date</th>
		<th>Contents</th>
    <th>Delete</th>
      </tr>
	{% for c in comments %}
      <tr>
	  	{% comment %} <td>a</td>
		  <td>a</td>
		  <td>a</td> {% endcomment %}
    	<td>{{ c.commentedBy.user.username }}</td>
		<td>{{ c.date }}</td>
		<td>{{ c.contents }}</td>
    <td> <button onclick="location.href = '{% url 'delete_comment' c.date disc.subject disc.createdBy.user.username c.commentedBy.user.username%}';" id="deletecomment" class="float-left submit-button" >Delete</button></td> 
      </tr>
    {% endfor %}
	</table>
	</div>
	<form id="Comments" method="POST" action= {% url 'discussion' disc.pk%} accept-charset="UTF-8">
	{% csrf_token %}
			<div>
				<label for="Comment"><b>Comment here:</b></label>
				<input type="name" placeholder="Comment here" id="comment" name="comment">
			</div>
			<div>
				<input type="submit" id="login" value="Submit">
			</div>
		</div>	
</form>
	</body>
{% endblock content %}
