
.root-body, html {
    width: 100%; 
    height: 100%;
}

.root-header {
    text-align: center;
}

.root-navigation li {
    float: left;
}

.root-navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.root-game-search {
    display: inline-block;
    float: right;
    margin-right: 40px;
}

/* Set a style for all buttons */
.root-body button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    width: auto;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.root-navigation li a:hover {
    background-color: mediumseagreen;
}

.root-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mediumpurple;
}

.root-footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    background-color: mediumpurple;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
	height: 100%;
 }
 
.homepage-container {
    width: 75%;
    margin: auto;
}

.homepage-container.content {
    text-align: center;
}

.background {
	
	position: sticky;
	top: 0;
	background-image: url("background.jpg");
	height: 95%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
 } 
 .background-caption {
	 position: absolute;
	 left: 0;
	 font: 400 15px/1.8 "Lato", sans-serif;
	 top: 50%;
	 width: 100%;
	 text-align: center; 
	 color: #000;
 }
 
 .background-caption span.border {
	 background-color: #111;
	 color: #fff;
	 padding: 10px;
	 font-size: 25px;
	 letter-spacing: 10px;
 }
